html {
    line-height: 1;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

body {
    line-height: 1.5;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header, main {
    margin: 0;
    padding: 50px;
}

.barra-superior {
    background-color: #141414; 
    color: #ffffff;
}


.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 450px;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #ffffff; 
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover {
    background-color: #88888a;
    border-radius: 4px;
}
