* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; 
}

body {
    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    display: flex; 
    flex-direction: column; 
}

header, main, footer {
    padding: 20px;
}

.barra-superior {
    background-color: #141414; 
    color: #ffffff;
}
nav {
    display: flex;
    align-items: center; 
}

.logo {
    height: 70px; 
    margin-right: 45px; 
    margin-left: 70px;
}
.navbar {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-right: 45px;
    padding: 0;
    margin-left: 50%;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #ffffff; 
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.navbar a:hover {
    background-color: #212121;
    border-radius: 4px;
}
.barra-inferior {
    background-color: #212121; 
    color: #ffffff; 
    padding: 10px 0; 
    text-align: center; 
    flex-shrink: 0; 
    margin-top: auto;
    width: 100%;
} 
@media (max-width: 768px) {
    .logo {
        height: 40px; 
    }
.navbar li {
        margin: 5px 0; 
    }
}

